<!DOCTYPE html>
<html>
    <head>
        <meta name="google-site-verification" content="yUXLg8glPFuozWw0Xn7CPVgUyUDAgNngYNLQvMbkO_s" />
        <title>Google Verify Page</title>
        <!-- Other meta tags, stylesheets, or scripts -->
    </head>

    <body>
        <p>To login go to <a href="/api/auth/google">/api/auth/google</a></p>
        <p>This page is for verification only</p>
        <p>
            <h3>This is a backend api for the bug tracker service.</h3>
            <ul>
                <li>This api includes Google oAuth login portal</li>
                <li>Users must be login to create a ticket or preform CRUD commands on ticket issues</li>
                <li>Database is being served on the cloud</li>
                <li>Application is being hosted on Railway.com</li>
                <li>Built using Node.js, Express.js, Passport.js, Mysql</li>
                <li>Web Sockets for real time notifications</li>
                <li>Pagination</li>
                <li>Image Upload (hosted on cloudify)</li>
                <li>Google OAuth (passport.js)</li>
                <li>This static file is being served using Express.static()</li>
                <li><a href="https://github.com/pharaoht/bug-tracker" target="_blank">Github Url</a></li>
                <li>/ issues  (Unprotected Routes)</li>
                <li>Get All Issues <a href="/api/issues">Click here</a></li>
                <li>Get Issues By Priority (low, medium, high)<a href="/api/issues/priority/low">Click here</a></li>
                <li>Get One Issues by id (1,2,3,4)<a href="/api/issues/1">Click here</a></li>
                <li>Search Issues <a href="/api/issues/search?searchTerm=first">Click here</a></li>
                <li>/ users (Unprotected Routes)</li>
                <li>Get All Users <a href="/api/users">Click here</a></li>
                
            </ul>
        </p>
        <!-- Other HTML content -->
    </body>
</html>


This is my personal project portfolio, I have a few projects on this website hosted on Vercel.

The projects range from backend API's, frontend SPA's or full stack applications.

Project Car hub,
Is a next.js application, that utilizes next.js api features to get car data from a third party API. In the application
you can filter car data, for models, make, etc.

Project Flight App,
Is a next.js/react.js front end application as well. I am using tequila.kiwi api to get flight prices and flight data so
the user and browse the cheapest options available. My application utilizes React hooks, i.e UseContext to store state
that will be accessible across other components, eliminating prop drilling, utilizing other react libraries i.e Material
UI for form control and inputs.

Bug Tracker: Backend
This API is a node.js, Express, Mysql project. This application is a similar version to Trello. I wanted to create a
software issue tracker for my own projects to keep track of features and bugs.
This is a loaded API that is still growing. I created this application following the onion architecture and mirco
service pattern. I wanted this application to scale well as the data grows.

Notable features,
Image upload,
Comment on issues,
Web sockets: For notifying the owner of an issue that someone has commented on the an issue that is assigned to them
Create, Read, Update, Delete Issues,
Google OAuth,
Sql Sorting,
Pagination,
Testing, Jest
Features Coming:
Live messaging
Email/SMS notification


Bug Tracker: Frontend
This is a next.js React.js application that serves as the frontend for the bug tracker backend api

As a passionate web developer, I take great pride in the work I produce. I have a deep enthusiasm for continuously
learning and absorbing new knowledge, which I am eager to share with others. My open library mindset ensures that I am
always ready to contribute to the growth and success of my colleagues, helping them achieve their goals as well.