<!DOCTYPE html>
<html>
    <head>
        <meta name="google-site-verification" content="yUXLg8glPFuozWw0Xn7CPVgUyUDAgNngYNLQvMbkO_s" />
        <title>Google Verify Page</title>
        <!-- Other meta tags, stylesheets, or scripts -->
    </head>

    <body>
        <p>To login go to <a href="/api/auth/google">/api/auth/google</a></p>
        <p>This page is for verification only</p>
        <p>
            <h3>This is a backend api for the bug tracker service.</h3>
            <ul>
                <li>This api includes Google oAuth login portal</li>
                <li>Users must be login to create a ticket or preform CRUD commands on ticket issues</li>
                <li>Database is being served on the cloud</li>
                <li>Application is being hosted on Railway.com</li>
                <li>Built using Node.js, Express.js, Passport.js, Mysql</li>
                <li>This static file is being served using Express.static()</li>
                <li><a href="https://github.com/pharaoht/bug-tracker" target="_blank">Github Url</a></li>
                <li>/ issues  (Unprotected Routes)</li>
                <li>Get All Issues <a href="/api/issues">Click here</a></li>
                <li>Get Issues By Priority (low, medium, high)<a href="/api/issues/priority/low">Click here</a></li>
                <li>Get One Issues by id (1,2,3,4)<a href="/api/issues/1">Click here</a></li>
                <li>Search Issues <a href="/api/issues/search?searchTerm=first">Click here</a></li>
                <li>/ users</li>
                <li>Get All Users <a href="/api/users">Click here</a></li>

            </ul>
        </p>
        <!-- Other HTML content -->
    </body>
</html>

